In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('csv_files/sap_produkcyjne_przyklad.csv', encoding='utf-8-sig', sep=";")

In [11]:
with open('csv_files/sap_produkcyjne_przyklad.csv', encoding="utf-8") as f:
    first_line = f.readline()

import re
od_match = re.search(r"Od\s+(\d{2}\.\d{2}\.\d{4})", first_line)
do_match = re.search(r"Do\s+(\d{2}\.\d{2}\.\d{4})", first_line)

od_date = pd.to_datetime(od_match.group(1), dayfirst=True).date() if od_match else None
do_date = pd.to_datetime(do_match.group(1), dayfirst=True).date() if do_match else None

In [12]:
header_row_1 = df.iloc[2].fillna("").astype(str).str.strip()
header_row_2 = df.iloc[3].fillna("").astype(str).str.strip()
combined_headers = [
    (a + " " + b).strip().replace(".", "").replace("/", "").replace(" ", "")
    for a, b in zip(header_row_1, header_row_2)
]

df = df.iloc[5:].copy()
df.columns = combined_headers
df.dropna(how="all", inplace=True)
df.reset_index(drop=True, inplace=True)

df["Od"] = od_date
df["Do"] = do_date
df

,Linia,Rodzina,QLTOTAkt,QLTOTPln,%DvtProduk,ZmianaCzysty,ZmianaPrg,ZmianaStd,QZmStandard,QZmStd,...,%ELINIAObb,%ELINIAStd,%EPracEff,%EPracObb,%EPracStd,%ZyskuEff,%ZyskuObb,%ZyskuStd,Od,Do
0,10801,Q101,"1 782,169","1 780,745","0,080","19,122","19,107","19,237","109,648","109,648",...,"84,999","84,429","88,553","85,000","84,430","84,999","85,000","84,425",2025-06-09,2025-06-15