In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('csv_files/zlecenia.csv', encoding='utf-8-sig', sep=";")

In [3]:
df = df[["Nr zlecenia", "Rodzaj zlecenia", "Data wprowadzenia", "Godzina utworzenia"]]
df.columns = ["ZlecenieId", "ZlecenieRodzaj", "DataUtworzenia", "CzasUtworzenia"]

# Convert data types
df["ZlecenieId"] = pd.to_numeric(df["ZlecenieId"], errors="coerce")
df["DataUtworzenia"] = pd.to_datetime(df["DataUtworzenia"], format="%d.%m.%Y", errors="coerce").dt.date
df["CzasUtworzenia"] = pd.to_datetime(df["CzasUtworzenia"], format="%H:%M:%S", errors="coerce").dt.time
df

       ZlecenieId ZlecenieRodzaj DataUtworzenia CzasUtworzenia
0     50000223634           PLM1     2025-06-01       13:47:51
1     50000223635           PLM1     2025-06-01       14:16:29
2     50000223636           PLM1     2025-06-01       14:19:02
3     50000223637           PLM6     2025-06-01       19:19:41
4     50000223638           PLM1     2025-06-02       19:46:55
...           ...            ...            ...            ...
2441  50000227189           PLM2     2025-06-30       09:11:13
2442  50000227190           PLM2     2025-06-30       09:11:45
2443  50000227191           PLM2     2025-06-30       09:12:26
2444  50000227200           PLM1     2025-06-30       16:36:53
2445  50000227220           PLM4     2025-06-30       16:51:08

[2446 rows x 4 columns]

In [4]:
from sqlalchemy import create_engine

# Connection details
server = 'JASNACZERN'        
database = 'ferrero'
username = 'sa'
password = '1234'
driver = 'ODBC Driver 17 for SQL Server'  

# SQLAlchemy connection string
conn_str = (
    f"mssql+pyodbc://{username}:{password}@{server}/{database}"
    f"?driver={driver.replace(' ', '+')}"
)

# Create SQLAlchemy engine
engine = create_engine(conn_str)

# Write the DataFrame to SQL Server (replace table_name with your desired name)
df.to_sql('Zlecenia', con=engine, if_exists='append', index=False)

-1